img {
    height: 100%;
    width: 100%;
    position: absolute;
}

.heroContainer {
    color: #FFF;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
    position: relative;
    float: right;
    z-index: 1000;
    background-color: #BA55D3;
    border-color: #FFF;
    border-style: solid;
    border-width: 2px;
}

.descriptor  {
    font-weight: bold;
}

.category {
    margin-top: 15px;
}

#heroName  {
    font-size: 20px;
    font-weight: bold;
}

#classImg {
    height: 25px;
    width: 25px;
}

#uniImg {
    height: 25px;
    width: 25px;
}

